<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:fragment="title">Title</title>

    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>

    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/app-theme.css"/>

    <div layout:fragment="css-files"></div>

</head>
<body class="app-page-background">

<nav class="uk-navbar-container eni-navbar-gradient" uk-navbar>
    <div class="uk-navbar-left eni-navbar-btn-padding">
        <a class="uk-navbar-toggle" href="" uk-toggle="target: #offcanvas-nav">
            <span uk-navbar-toggle-icon></span>
        </a>
    </div>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo" href="#">
            <img src="/logo-app.png" class="eni-navbar-logo" alt="Logo">
        </a>
    </div>

    <div class="uk-navbar-right eni-navbar-btn-padding">
        <a class="uk-icon-button" href=""><i class="fas fa-sign-out"></i></a>
    </div>
</nav>
<div id="offcanvas-nav" uk-offcanvas="mode: reveal; overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/list-movie">Access to list of movies</a></li>
        </ul>
    </div>
</div>

<div layout:fragment="content">
</div>

<footer>
    @Copyrights
    <div layout:fragment="footer">
        Footer detail par défaut
    </div>
</footer>
</body>
</html>