<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="eni-theme.css">

    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="eni-page-background">
<div class="eni-common-page-padding">
    <div>
        <img src="">
    </div>
    <div class="uk-margin">
        Nom du Film
    </div>
</div>
</body>
</html>