<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="app-theme.css">

    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body class="app-common-page-padding app-page-background">

<div>
    <h1 class="uk-heading-xlarge uk-text-secondary	">Bienvenu sur votre site de streaming </h1>
</div>
<div>
    <a href="">Se connecter</a>
</div>
<div>
    <a href="login.html">Naviguer</a>
</div>

</body>
</html>