<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="app-theme.css">

    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="eni-page-background app-page-background">
<div class="uk-container">
    <h1>Listes des séries</h1>
    <div class="uk-child-width-1-2@s uk-grid">
        <div th:each="film : ${filmList}" class="uk-padding">
            <div class="uk-card uk-card-secondary uk-card-small uk-card-body uk-height-1-1">
                <h3 class="uk-card-title" th:text="${film.titre}"></h3>
                <p th:text="${film.synopsis}"></p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>