<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="eni-theme.css">

    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="eni-page-background">
<div class="eni-common-page-padding">
    <div class="eni-icon-header-page uk-align-center">
        <img src="login-icon.jpg">
    </div>
    <div class="uk-margin">
        <input type="email" placeholder="Email" pattern=".+@example\.com" class="uk-input"/>
    </div>
    <div class="uk-margin">
        <input type="password" placeholder="Mot de passe" class="uk-input ">
    </div>
    <div>
        <a href="#" class="uk-link-muted eni-link-click uk-width-1-1">Mot de passe oublié ?</a>
    </div>
    <div class="uk-margin">
        <input type="button" value="connexion" class="uk-button uk-button-primary uk-width-1-1">
    </div>
    <div>
        <a href="#" class="uk-link-muted eni-link-click uk-width-1-1">S'inscrire ?</a>
    </div>
</div>
</body>
</html>